/*Author    : Muhammad Rifki P*/
/*Github    : https://github.com/kayycloud*/
/*Facebook  : https://facebook.com/mhmmdrfki*/
/*Instagram : https://instagram.com/mhmmdrrfkii_*/

@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 10px;
        text-align: center;
        margin-top: 60%;
    }
}